.App {
  text-align: center;
}

@media screen and (min-width: 769px) { 

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .buttons {
    padding-top: 40px;
    display: flex;
    max-width: 30%;
    justify-content: space-around;
    margin: auto;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .mybtn {
    min-width: 80px;
  }
 }

@media screen and (max-width: 768px) { 

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
  }
  .buttons {
    padding-top: 40px;
    display: flex;
    /* max-width: 30%; */
    justify-content: space-around;
    margin: auto;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .mybtn {
    min-width: 80px;
  }
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainblock {
  margin-top: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
